:root {
  --background: #ceae95;
  --foreground: #040d1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ceae95;
    --foreground: #040d1e;
    --text-sm: 1.2rem;
    --text-s: 1.5rem;
    --text-l: 1.8rem;
    --text-xl: 2.2rem;
    --text-xxl: 3.5rem;
    --text-x: 6rem;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* heading */
.heading {
  font-size: var(--text-l);
  font-weight: 700;
  text-align: center;
  margin: 3rem 0;
  text-transform: uppercase;
  color: var(--background);
}

/* heading */

/* Navbar starts */
.navbar-section {
  position: fixed;
  /* position: relative; */
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  border-bottom: 2px solid var(--foreground);
  height: 100px;
  margin: 0 auto;
  font-size: var(--text-sm);
  transition: top 0.3s;
}
.navbar-hidden {
  top: -100px;
}

.navbar-visible {
  top: 0;
}
.navbar-logo {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar-list {
  display: flex;
  gap: 3rem;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar-item,
.navbar-lang,
.navbar-contact {
  position: relative;
  /* background-color: #ffffff; */
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-transform: uppercase;
}


.navbar-item:before,
.navbar-lang::before {
  content: "";
  position: absolute;
  left: -20px;
  top: -40px;
  width: 2px;
  height: 100px;
  background-color: var(--foreground);
  /* background-color: #000000; */
}

.navbar-item:after,
.navbar-lang::after {
  content: "";
  position: absolute;
  right: -20px;
  top: -40px;
  width: 2px;
  height: 100px;
  background-color: var(--foreground);
  /* background-color: #000000; */
}

/* Navbar ends */
/* Home starts */
.home-container{
  margin-top: 100px;
  background-color: #CEAE95;
  padding: 20px;
}
.home-banner{
  position: relative;
  /* height: 90vh; */
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.energy-section {
  position: relative;
  background-color: #CEAE95;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}
.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
  will-change: transform;
}

.collage {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.collage-img {
  position: absolute;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  opacity: 0;
  filter: blur(12px);
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.grid-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.collage {
  position: relative;
  width: 350px;
  height: 350px;
}

.collage-img {
  position: absolute;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* Positioning each image */
.img1 {
  top: 40px;
  left: 0;
  width: 150px;
  height: 150px;
}

.img2 {
  top: 0;
  left: 50px;
  width: 400px;
  height: 250px;
}

.img3 {
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
}

.img4 {
  bottom: 0;
  left: 40px;
  width: 150px;
  height: 150px;
}

.img5 {
  bottom: 20px;
  right: 0;
  width: 150px;
  height: 150px;
}

.energy-text {
  margin-top: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.energy-text h1 {
  font-size: 2rem;
  margin: 0.3rem 0;
}

.energy-text .bold {
  font-weight: bold;
  color: #000;
}

.energy-text .light {
  font-weight: 300;
  color: #a69f9b;
}

/* Home ends */
/* About Banner  */
.banner-section {
  display: flex;
  justify-content: space-between;
}

.banner-img {
  width: 300px;
  height: 300px;
}

.banner-img img {
  width: 100%;
  height: 100%;
}

/* Banner ends */
/* Contact */
.contact-heading {
  width: 60%;
  margin: 150px auto;
  font-size: var(--text-l);
  color: var(--background);
}

.contact-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  padding: 5rem .5rem;
  /* background-color: #5c5353; */
}

.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-ph,
.contact-mail,
.contact-address {
  display: flex;
  align-items: center;
  padding: .5rem;
  gap: .5rem;
  font-size: var(--text-s);
  color: var(--background);
}

.contact-right {
  width: 50%;
}

.name-row {
  display: flex;
  gap: 1rem;
}

.name-row .user-box {
  flex: 1;
}

.row {
  display: flex;
  gap: 1rem;
}

.row .user-box {
  flex: 1;
}

.user-box select {
  width: 100%;
  padding: 10px;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 16px;
}

.user-box label {
  display: block;
  margin-top: 8px;
  font-size: 14px;
}

.login-box {
  height: 100%;
  background-color: #272727;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px
}

.login-box a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}

.contact-service:focus {
  outline: none;
}

.contact-message {
  border: none;
  padding: 10px;
  margin: 20px 0;
  width: 100%;
  border-radius: 5px;
}

.contact-message:focus {
  outline: none;
}

.contact-social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-social-link {
  position: relative;
  box-shadow: rgb(191, 183, 158) 0px 5px 10px .2px;
  width: 300px;
  height: 300px;
  margin: 30px 0;
  overflow: hidden;
  border-radius: 15px;
}

.contact-arrow-icon {
  position: absolute;
  bottom: 10;
  right: 10;
  font-size: 30px;
  color: #000000;
  background-color: white;
  padding: 7px 10px;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(40deg);
}

.contact-social-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* FAQ */
.contact-faq-items {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.contact-faq-item {
  color: var(--background);
  border: 1px solid #aaa;
  padding: .5rem;
  border-radius: 15px;
}

.contact-faq-item {
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  transition: all .5s ease-in-out;
}

.contact-faq-item:hover {
  background-color: #323232;
  transform: scale(1.1);
}

.contact-faq-item.active {
  transform: scale(1.1);
  font-weight: bold;
}

.faq-block {
  border-bottom: 1px solid #ddd;
  padding: 30px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 3rem;
  color: #e1d5d5;
}

.faq-icon {
  margin-left: 10px;
  font-size: var(--text-l);
}

.faq-answer-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.faq-answer-wrapper.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 8px;
}

.faq-answer {
  color: #d9d9d9;
  font-size: 2rem;
  margin: 10px 0;
  padding-left: 10px;
}

.contact-faq-content {
  padding: 20px;
  width: 80%;
  margin: 20px auto;
}

/* FAQ */
/* Contact ends */
/* Industries */
.industries-container {
  position: relative;
  margin-top: 100px;
}

.flip-wrapper {
  height: 100vh;
  perspective: 2000px;
  overflow-x: hidden;
  position: relative;
}

.card {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  transform-style: preserve-3d;
}

.card-face {
  width: 100%;
  height: 100vh;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.industries-section-1 {
  color: white;
  z-index: 2;
}

.industries-section-2 {
  min-height: 90vh;
  color: white;
  transform: rotateX(180deg);
  /* margin-top: -100px !important; */

}


.industries-banner-img {
  width: 100%;
  height: 90vh;
  --r: 30px;
  --s: 50px;
  --x: 300px;
  --y: 10px;
  aspect-ratio: 1;
  border-radius: var(--r);
  --_m: /calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%, #0000 72%);
  --_g: conic-gradient(from 180deg at var(--r) calc(100% - var(--r)), #0000 25%, #000 0);
  --_d: (var(--s) + var(--r));
  mask:
    calc(var(--_d) + var(--x)) 100% var(--_m),
    0 calc(100% - var(--_d) - var(--y)) var(--_m),
    radial-gradient(var(--s) at 0 100%, #0000 99%, #000 calc(100% + 1px)) calc(var(--r) + var(--x)) calc(-1*var(--r) - var(--y)),
    var(--_g) calc(var(--_d) + var(--x)) 0,
    var(--_g) 0 calc(-1*var(--_d) - var(--y));
  mask-repeat: no-repeat;
  background: #CEAE95;
  background: linear-gradient(18deg, rgba(206, 174, 149, 1) 0%, rgba(255, 255, 255, 1) 80%);
}

.industries-banner-img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.industries-banner-text {
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.industries-banner-text h1 {
  font-size: var(--text-xxl);
  text-transform: uppercase;
}

.industries-circle-1,
.industries-circle-2,
.industries-circle-3,
.industries-circle-4,
.industries-circle-5 {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.industries-circle-1 {
  border: 1px solid red;
  width: 750px;
  height: 750px;
}

.industries-circle-1 .img-a {
  position: absolute;
  top: 40;
  left: 120;
  width: 90px;
  height: 90px;
}

.industries-circle-2 {
  border: 1px solid rgb(6, 203, 12);
  width: 580px;
  height: 580px;
}

.industries-circle-2 .img-b {
  position: absolute;
  width: 90px;
  height: 90px;
  bottom: 0;
  right: 80;
}

.industries-circle-3 {
  border: 1px solid rgb(221, 198, 22);
  width: 400px;
  height: 400px;
}

.industries-circle-3 .img-c {
  position: absolute;
  width: 90px;
  height: 90px;
  top: -40;

}

.industries-circle-4 {
  border: 1px solid rgb(128, 20, 222);
  width: 250px;
  height: 250px;
  position: relative;
}

.industries-circle-4 .img-d {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.industries-circle-5 {
  border: 1px solid rgb(38, 21, 219);
  width: 150px;
  height: 150px;
}

.industries-circle-5 img {
  width: 80px;
  height: 80px;
}

/* Industries ends */

/* Careers */
.careers-container {
  position: relative;
  width: 100%;
  margin-top: 120px;
}

.careers-section {
  position: relative;
  height: 85vh;
  width: 100%;
  background: #CEAE95;
  background: linear-gradient(328deg, rgba(206, 174, 149, 1) 0%, rgba(255, 255, 255, 1) 80%);
  --r: 20px;
  /* the radius */
  --s: 30px;
  /* size of inner curve */
  --x: 320px;
  /* horizontal offset (no percentane) */
  --y: 40px;
  /* vertical offset (no percentage) */
  aspect-ratio: 1;
  border-radius: var(--r);
  --_m: /calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%, #0000 72%);
  --_g: conic-gradient(from 90deg at calc(100% - var(--r)) calc(100% - var(--r)), #0000 25%, #000 0);
  --_d: (var(--s) + var(--r));
  mask:
    calc(100% - var(--_d) - var(--x)) 100% var(--_m),
    100% calc(100% - var(--_d) - var(--y)) var(--_m),
    radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px)) calc(-1*var(--r) - var(--x)) calc(-1*var(--r) - var(--y)),
    var(--_g) calc(-1*var(--_d) - var(--x)) 0,
    var(--_g) 0 calc(-1*var(--_d) - var(--y));
  mask-repeat: no-repeat;
}

.careers-heading {
  font-size: 5rem;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.careers-open-position {
  position: absolute;
  top: 41.5%;
  right: 40px;
}

.careers-open-position button {
  background-color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--background);
  font-size: var(--text-l);
}

.careers-list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100vh;
  font-size: var(--text-s);
  color: var(--background);
}

/* Careers ends */

/* Footer */
.footer-container {
  padding-top: 7rem;
  position: relative;
}

.footer-heading {
  position: absolute;
  top: 0;
  z-index: -1;
}

.footer-heading h2 {
  font-size: 10rem;
  color: rgb(128, 13, 0);
  text-transform: uppercase;
  letter-spacing: 10px;
}

.footer-grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
  padding: 20px;
}

.footer-grid-item-1 {
  background-color: var(--background);
  grid-row: span 4 / span 4;
  border-radius: 5px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.footer-item a {
  text-decoration: none;
  font-size: var(--text-s);
  line-height: 40px;
}

.footer-grid-item-2 {
  background-color: var(--background);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-grid-item-3 {
  background-color: var(--background);
  grid-column-start: 2;
  grid-row-start: 2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-grid-item-4 {
  background-color: var(--background);
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
  border-radius: 5px;

}

.footer-grid-item-5 {
  background-color: var(--background);
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  grid-row-start: 1;
  border-radius: 5px;
}

/* Footer ends */
/* Team starts */
.team-container {
  padding-top: 20px;
  margin-left: 30px;
  position: relative;
}

.team-image {
  position: relative;
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: -999; */
}

.image-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 650px;
  object-fit: cover;
  transform: scale(1);
  opacity: 0;
  clip-path: inset(100% 0 0 0);
  transition: all 0.3s ease;
}

.text-layer {
  position: absolute;
  right: 0;
  width: calc(100% - 700px);
  height: 100%;
  padding: 2rem;
  opacity: 0;
  transition: all 0.3s ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--background);
}

.image-layer:first-of-type {
  opacity: 1;
  clip-path: inset(0% 0 0 0);
  transform: scale(1);
}

/* Team ends */
/* About us  */
.about-us-container {
  margin-top: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: 150px; */
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  position: relative;
  gap: 2rem;
  width: 90%;
  margin: auto;
}
.about-title{
  font-size: var(--text-xxl);
  color: var(--background);
}
.about-content {
  font-size: var(--text-xl);
  line-height: 45px;
  color: var(--background);
  white-space: pre-wrap;
}

.about-content span {
  opacity: 0.1;
  transform: translateY(20px);
}

/* Who we are */
.about-section-wrapper{
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(206, 174, 149, 1) 100%);
  height: 100vh;
  display: flex;
}
.about-who-we-are {
  background: url(/bg.svg);
  position: relative;
  height: 70vh;
  width: 70%;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: var(--foreground);
  border-radius: 15px;
  box-shadow: -3px -5px 32px -6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: -3px -5px 32px -6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: -3px -5px 32px -6px rgba(255, 255, 255, 0.75);
  transition: transform 0.3s ease;
}

.about-who-we-content {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  gap: 1rem;
}

.about-who-we-title {
  text-transform: uppercase;
  font-size: var(--text-sm);
}

.about-who-we-content p {
  font-size: var(--text-l);
}

.about-who-experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.about-experience,
.about-clients,
.about-Project {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  border-bottom: 1px solid rgba(199, 198, 198, 0.615);
}

.about-experience-title,
.about-clients-title,
.about-Project-title {
  font-size: var(--text-xxl);
}

.about-who-para {
  font-size: var(--text-sm);
}

/* Our values */
.about-our-values {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  padding: 0 100px;
  overflow-x: visible;
  width: max-content; /* key fix to make horizontal scrolling work */
}

.about-our-values-heading {
  flex: 0 0 auto;
  color: rgb(255, 255, 255);
  font-size: var(--text-xl);
  text-transform: uppercase;
}

.about-values-para {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 15px;
  --r: 20px;
  --s: 30px;
  --x: 20px;
  --y: 10px;
  aspect-ratio: 1;
  border-radius: var(--r);
  --_m: /calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%, #0000 72%);
  --_g: conic-gradient(at var(--r) var(--r), #000 75%, #0000 0);
  --_d: (var(--s) + var(--r));
  mask:
    calc(var(--_d) + var(--x)) 0 var(--_m),
    0 calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 0 0, #0000 99%, #000 calc(100% + 1px)) calc(var(--r) + var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(var(--_d) + var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y));
  mask-repeat: no-repeat;
}

.about-values-title {
  position: absolute;
  color: red;
  left: 15px;
  top: 10px;
}

/* our value */
/* Vision & mission */
.about-vision-mission {
  min-height: 90vh;
  background-color: #ccc;
  padding: 4rem;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-vision,
.about-mission {
  width: 450px;
  height: 500px;
  background-color: rgb(200, 15, 15);
  border-radius: 15px;
}

/* Vision & mission */
/* About us ends */


/* Service Page */
.service-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  padding-top: 100px;
  gap: 40px;
  border: 2px solid gray;
  color: white;
}

/* Left Side */
.title-service {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.service-title-box {
  display: flex;
  align-items: center;
}

.service-title {
  cursor: pointer;
  margin-bottom: 10px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s;
  color: white;
  background-color: transparent;
}

.service-title.active {
  background-color: #ceae95;
  color: black;
}

.service-title:hover {
  background-color: #ceae95;
  color: black;
}

.arrow-indicator {
  background-color: #ceae95;
  border: 2px solid transparent;
  padding: 8px;
  margin: 5px;
  border-radius: 50px;
}

.arrow-indicator span {
  /* font-size: 24px; */
  font-weight: 600;
  color: black;
}

/* Right Side */
.description-service {
  width: 75%;
  height: 80vh;
  overflow-y: scroll;
  padding: 10px;
  border-left: 2px solid gray;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  transition: all 2s ease-in-out;
}

.description-service::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.service-description-box {
  margin-bottom: 40px;
  opacity: 1; /*starts hidden until GSAP animates it */
  transform: translateY(30px);
}

.service-heading {
  margin: 10px;
  font-size: 6rem;
  font-weight: 600;
}

.service-content {
  display: flex;
  gap: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 20px;
  height: 350px;
  align-items: center;
}

.service-content p {
  flex: 1;
  font-size: 24px;
}

.service-content img {
  width: 60vh;
  height: auto;
  border-radius: 20px;
}

.know-more-btn {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.know-more-btn:hover {
  background-color: var(--background); /* optional hover effect */
  color: black;
}

.know-more-text {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.MuiDialog-paper {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

/* Case Study Container */
.cs-container {
  width: 100vw;
}

/* Top Section */
.cs-top-section {
  height: 50vh;
  width: 100%;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4rem;
  gap: 20px;
}

.cs-heading {
  font-size: 50px;
  font-weight: 600;
  color: #ceae95;
}

.cs-subtext {
  font-size: 20px;
  font-weight: 500;
  color: grey;
}

/* Horizontal Scroll Section */
.cs-scroll-section {
  height: 50vh;
  width: 100%;
  border: 1px solid grey;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.cs-scroll-section::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* Card */
.cs-card {
  border: 1px solid grey;
  height: 100%;
  padding: 1rem;
  width: 400px;
  color: #ceae95;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.cs-card:hover {
  transform: scale(1.02);
}

/* Card Header */
.cs-card-header {
  display: flex;
  justify-content: space-between;
}

.cs-card-left {
  display: flex;
  flex-direction: column;
}

.cs-card-name {
  font-size: 14px;
}

.cs-card-icon {
  font-size: 32px;
  margin-top: 13px;
}

.cs-card-title {
  font-size: 52px;
}

/* Card Description */
.cs-card-description {
  font-size: 17px;
  color: grey;
  display: flex;
}
